<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="Login">
        <classes>
            <class name="com.dzeru.ozontest.FirstTest"/>
        </classes>
    </test>
    <test name="Change city">
        <classes>
            <class name="com.dzeru.ozontest.SecondTest"/>
        </classes>
    </test>
    <test name="Buy juicer set price">
        <classes>
            <class name="com.dzeru.ozontest.ThirdTest"/>
        </classes>
    </test>
    <test name="Buy juicer set price and power">
        <classes>
            <class name="com.dzeru.ozontest.FourthTest"/>
        </classes>
    </test>
</suite>